.header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__link {
  padding-left: 29px;
  font-weight: 700;
  color: #000;
  background-image: url('data:image/svg+xml,<svg width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M20.01 15.88c-1.23 0-2.42-.2-3.53-.56a.977.977 0 0 0-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19c-.54 0-1.19.24-1.19.99 0 9.29 7.73 17.01 17.01 17.01.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99Z" fill="%238EECF9"/></g><defs><clipPath id="a"><path fill="%23fff" transform="translate(0 .5)" d="M0 0h24v24H0z"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  background-position: left;
  transition: color 0.3s ease-in;
}

.header__link:hover,
.header__link:focus {
  color: #09bbe7;
}

@media (max-width: 1000px) {
  .header__link {
    padding-left: 26px;
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .header__logo {
    width: 100px;
  }
}
